
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="py-2">

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>des</th>
            <th>price</th>
            <th>quantiy</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="pro :${productList}">
            <td th:text="${pro.id}"></td>
            <td th:text="${pro.name}"></td>
            <td th:text="${pro.description}"></td>
            <td th:text="${pro.price}"></td>
            <td th:text="${pro.stockQuantity}"></td>


        </tr>

        </tbody>
    </table>

</div>
</body>
</html>
<!--<div th:insert="header.html"></div>-->
<!--<div >-->

<!--    <table>-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th>id</th>-->
<!--            <th>name</th>-->
<!--            <th>des</th>-->
<!--            <th>price</th>-->
<!--            <th>quantiy</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->

<!--        <tr th:each="pro:${productList}">-->
<!--            <td th:text="${pro.id}"></td>-->
<!--            <td th:text="${pro.name}"></td>-->
<!--            <td th:text="${pro.description}"></td>-->
<!--            <td th:text="${pro.price}"></td>-->
<!--            <td th:text="${pro.stockQuantity}"></td>-->


<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->

<!--</div>-->
<!--<div th:insert="addproduct.html"></div>-->
<!--<div th:insert="footer.html"></div>-->