<div th:insert="header.html">...</div>
<div th:insert="sidebar.html">...</div>

<main id="main" class="main">

    <div class="pagetitle">
        <h1 class="text-center">All Depratments</h1>

    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-md-10 offset-1">
                <div class="card">
                    <div class="card-body mt-3">

                        <!-- start my work-->

                        <h2>User Profile</h2>
                        <p>Email: <span th:text="${user.email}"></span></p>
                        <p>Name: <span th:text="${user.name}"></span></p>

                        <!--  end my work-->
                    </div>

                </div>

            </div>

        </div>
    </section>
</main><!-- End #main -->



<div th:insert="footer.html">...</div>

